<head>
	<meta charset="UTF-8" >

	<title>Perros</title>
	<style>
  	body{
            background-color: rgb(119, 228, 228);
            background-size: 100%;
        }
    </style>
</head>
<body> 
	<article>
       
       
            <dt>
                    <FONT FACE="impact" SIZE=12 COLOR="#171f65">
                     PERROS</FONT>    
             </dt>
             <dt>
                <FONT FACE="arial" SIZE=5 COLOR="#171f65">El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo), llamado perro doméstico o can, y en algunos lugares coloquialmente llamado chucho,tuso,choco, entre otros; es un mamífero carnívoro de la familia de los cánidos, que constituye una especie del género Canis. En el 2013, la población mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones. Su tamaño (o talla), su forma y su pelaje es muy diverso y varía según la raza. Posee un oído y un olfato muy desarrollados, y este último es su principal órgano sensorial. Su longevidad media es de diez a trece años, dependiendo de la raza.
                    <br>
                                                
                    El perro doméstico proviene de un grupo ancestral común que data de hace aproximadamente treinta mil años, y desde entonces se ha extendido a todas partes del mundo. Los primeros restos fósiles de perros enterrados junto con seres humanos se encontraron en Israel, y datan de hace unos doce mil años.              </FONT>
            </dt> 
            <img src="assets/img/perro.jpg" USEMAP="#comedor" width="35%"  alt="" height="190">
             <br>
           
             
    </article>
</body>      