<head>
	<meta charset="UTF-8" >

	<title>Pericos</title>
	<style>
  	body{
            background-color: rgb(119, 228, 228);
            background-size: 100%;
        }
    </style>
</head>
<body> 
	<article>
       
       
            <dt>
                    <FONT FACE="impact" SIZE=12 COLOR="#171f65">
                     PERICOS</FONT>    
             </dt>
             <dt>
                <FONT FACE="arial" SIZE=5 COLOR="#171f65">El periquito común, periquito o perico australiano, cotorra o cata australiana, periquito o lorito de Java (Melopsittacus undulatus) es una especie de ave psitaciforme de la familia Psittaculidae. Es el único miembro del género Melopsittacus. Es endémico de Australia, aunque ha sido introducido en otras regiones del mundo por ser muy común su uso como mascota. Es un ave de jaula muy popular no solo por sus vivos colores si no que por su fácil adaptación. Como animal de compañía solo es superado en número por los perros, los gatos y los canarios. <br>
                                                
                    En naturaleza son las aves con más población de toda Australia causado por su rápida reproducción ya que dejan de ser polluelos y empiezan su reproducción a partir de los sesenta días de haber nacido, ya que las hembras ponen, en promedio, de cinco a seis huevos, lo cual los hace ser muy adaptables, aunque ellos habitan en Australia extendiéndose por el centro del país.                </FONT>
            </dt> 
            <img src="assets/img/perico.jpg" USEMAP="#comedor" width="35%"  alt="" height="190">
             <br>
           
             
    </article>
</body>      